	<!-----service section start----------->
	<div class="service">
		<div class="title">
			<h2>My Services</h2>
		</div>

		<div class="box">
			<div class="card">
				<!-- <i class="fas fa-bars"></i> -->
				<h5>MEAN Stack Application Development</h5>
				<div class="pra">
					<p>The MEAN stack is JavaScript-based framework for developing web applications. MEAN is named after MongoDB, Express, Angular, and Node, the four key technologies that make up the layers of the stack.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>


			<div class="card">
				<!-- <i class="far fa-bell"></i> -->
				<h5>AngularJS Design and Development</h5>
				<div class="pra">
					<p> If you want to have a super cool, optimized, fast loading single page web application or mobile app, then AngularJS is the first-best right technology to land.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>










			<div class="card">
				<!-- <i class="far fa-user"></i> -->
				<h5>Express.js Design and Development</h5>
				<div class="pra">
					<p>Express. js is a flexible, minimalist, scalable backend web framework. It's a JavaScript framework that makes app development robust, fast, and easy. The framework is a proven well-known technology today.</p>

					<p style="text-align: center;">
						<a class="button" href="#">Read More</a>
					</p>
				</div>
			</div>

			
		</div>
	</div>